{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Section About Start -->
<section class="section causes">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4 cause-item">
          <div class="row no-gutters">
            <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title | markdownify }}">
            <div class="card-body">
              <h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
              {{ if ne (or (.Params.Goal) (.Params.Raised)) "" }}
              <ul class="list-inline border-bottom border-top py-3">
                <li class="list-inline-item"><i class="ti-check text-color mr-2"></i>Goal:
                  <span>{{ .Params.Goal }}</span></li>
                <li class="list-inline-item"><i class="ti-check text-color mr-2"></i>Raised:
                  <span>{{ .Params.Raised }}</span></li>
              </ul>
              {{ end }}
              <p class="card-text mb-4">{{ .Summary }}</p>
              <a href="/donation" class="btn btn-main rounded">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}